<%= turbo_frame_tag "service_#{f.index}" do %>
  <%= f.hidden_field :id %>

  <div class="row">
    <div class="col">
      <%= f.input :name %>
    </div>
    <div class="col">
      <%= f.input :unit, collection: Service.units.symbolize_keys.keys, include_blank: false %>
    </div>
    <div class="col">
      <%= f.input :price %>
    </div>
    <div class="col">
      <%= f.input :amount %>
    </div>
    <div class="col">
      <%= f.input :vat %>
    </div>
  </div>

  <%= f.submit "destroy service", 
        formaction: service_path(f.index, f.object.id), 
        formmethod: :delete, 
        formnovalidate: true, 
        data: { turbo_frame: "service_#{f.index}" } %>
<% end %>