<%= turbo_frame_tag "service_#{f.index}" do %>
  <%= f.hidden_field :id %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "destroy service", 
        formaction: service_path(f.index, f.object.id), 
        formmethod: :delete, 
        formnovalidate: true, 
        data: { turbo_frame: "service_#{f.index}" } %>
<% end %>