<%= turbo_frame_tag "service_#{service_form.index}" do %>
  <%= service_form.hidden_field :id %>

  <div class="row">
    <div class="col">
      <%= service_form.input :name %>
    </div>
    <div class="col">
      <%= service_form.input :unit, collection: Service.units.symbolize_keys.keys, include_blank: false %>
    </div>
    <div class="col">
      <%= service_form.input :price %>
    </div>
    <div class="col">
      <%= service_form.input :amount %>
    </div>
    <div class="col">
      <%= service_form.input :vat %>
    </div>
  </div>

  <%= service_form.submit "destroy service", 
        formaction: service_path(service_form.index, service_form.object.id), 
        formmethod: :delete, 
        formnovalidate: true, 
        data: { turbo_frame: "service_#{service_form.index}" } %>
<% end %>