<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= service.unit %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= service.amount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service.price %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= service.vat %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= service.invoice_id %>
  </p>

</div>
