<div id="<%= dom_id service %>">
  <tr>
    <td>
      <%= index + 1 %>
    </td>

    <td>
      <%= service.name %>
    </td>

    <td>
      <%= service.unit %>
    </td>

    <td>
      <%= service.amount %>
    </td>

    <td>
      <%= service.price %>
    </td>

    <td>
      <%= service.vat %>
    </td>
  </tr>
</div>
