    <div class="row">
      <span class="col-1 text-center border">
        <%= index + 1 %>
      </span>

      <span class="col-6 text-center border">
        <%= service.name %>
      </span>

      <span class="col-1 text-center border">
        <%= service.unit %>
      </span>

      <span class="col-1 text-center border">
        <%= service.amount %>
      </span>

      <span class="col-1 text-center border">
        <%= service.price %>
      </span>

      <span class="col-1 text-center border">
        <%= service.vat %>
      </span>

      <span class="col-1 text-center"><%= link_to 'Edit', edit_invoice_service_path(service.invoice, service) %></span>
    </div>
