
<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :client %>
    <%= f.input :creation_date %>
    <%= f.input :pay_until %>
    <%= f.input :include_vat, as: :boolean %>
    <%= f.input :discount %>

    <div id="services">
      <%= f.fields_for :services do |service_form| %>
        <%= render "services/form", f: service_form %>
      <% end %>
    </div>

    <%= f.submit "Add service", formaction: service_path(@invoice.services.size), 
      formmethod: :post,  formnovalidate: true, id: "add-service" %>

    <p>Total: </p><p id="total"></p>

    <%= f.input :written_by, as: :string %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>


<script>
  const createButton = document.getElementById("addService");
  createButton.addEventListener("click", (e) => {
    e.preventDefault();
    const lastId = document.querySelector("#fieldsetContainer").lastElementChild.id;
    const newId = parseInt(lastId, 10) + 1;
    const delLink = `<a id='${newId}' class='btn btn-sm btn-danger'>DEL</a>`
    let newFieldset = document.querySelector("[id='0']").outerHTML.replace(/0/g, newId);
    newFieldset = "<div>" + (newFieldset += delLink) + "</div>"
    document.querySelector("#fieldsetContainer").insertAdjacentHTML("beforeend", newFieldset);
  });

  document.body.addEventListener("click", (e) => {
    if (e.target.nodeName === "A" && e.target.parentNode.previousElementSibling) {
      e.target.parentNode.remove();
    }
  });

  document.body.addEventListener("change", (e) => {
    if (e.target.name.endsWith('[price]') || e.target.name.endsWith('[amount]')){
      let target_name = e.target.name.replace(/\[[^\][]*]$/, '')
      let price = document.getElementsByName(target_name + '[price]')[0].value;
      let amount = document.getElementsByName(target_name + '[amount]')[0].value;
      let result = amount * price;
      document.getElementsByName(target_name + '[total]')[0].value = result;

      const all_total_elements = document.querySelectorAll("[name$='[total]']");
      let res = 0
      all_total_elements.forEach(element => {
        res += parseInt(element.value)
      });

      document.getElementById('total').innerHTML = res;
    }
  })
</script>