
<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :client %>
    <%= f.input :creation_date %>
    <%= f.input :pay_until %>
    <%= f.input :vat_method %>
    <%= f.input :discount %>
    <%= f.input :extra_stuff %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
