<div id="<%= dom_id invoice %>">
  <p>
    <strong>Client:</strong>
    <%= invoice.client_id %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= invoice.creation_date %>
  </p>

  <p>
    <strong>Pay until:</strong>
    <%= invoice.pay_until %>
  </p>

  <p>
    <strong>Vat method:</strong>
    <%= invoice.vat_method %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= invoice.discount %>
  </p>

  <p>
    <strong>Extra stuff:</strong>
    <%= invoice.extra_stuff %>
  </p>

</div>
