<div class="container" id="<%= dom_id invoice %>">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <p>
        <strong>Client:</strong>
        <%= invoice.client_id %>
      </p>

      <p>
        <strong>Creation date:</strong>
        <%= invoice.creation_date %>
      </p>

      <p>
        <strong>Pay until:</strong>
        <%= invoice.pay_until %>
      </p>
    </div>
  </div>

  <p>
    <strong>Include VAT:</strong>
    <%= invoice.include_vat %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= invoice.discount %>
  </p>

    <div>
      <div class="row">
        <span class="col-1 text-center border">No</span>
        <span class="col-6 text-center border">Service name</span>
        <span class="col-1 text-center border">Unit</span>
        <span class="col-1 text-center border">Amount</span>
        <span class="col-1 text-center border">Price/Unit</span>
        <span class="col-1 text-center border">Total</span>
      </div>
      <% invoice.services.each.with_index do |service, index| %>
        <%= turbo_frame_tag dom_id(service) do %>
          <%= render 'invoices/services/service', service:, index: %>
        <% end %>
      <% end %>
    </div>
</div>
