<div class="container" id="<%= dom_id invoice %>">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <p>
        <strong>Client:</strong>
        <%= invoice.client_id %>
      </p>

      <p>
        <strong>Creation date:</strong>
        <%= invoice.creation_date %>
      </p>

      <p>
        <strong>Pay until:</strong>
        <%= invoice.pay_until %>
      </p>
    </div>
  </div>

  <p>
    <strong>Include VAT:</strong>
    <%= invoice.include_vat %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= invoice.discount %>
  </p>

  <% invoice.services.each.with_index do |service, index| %>
    <table class="table">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Service name</th>
      <th scope="col">Unit</th>
      <th scope="col">Amount</th>
      <th scope="col">Price per Unit</th>
      <th scope="col">Total</th>
    </tr>
    <%= render service, index: %>
    </table>
  <% end %>

</div>
