<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= client.code %>
  </p>

  <p>
    <strong>Vat code:</strong>
    <%= client.vat_code %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>Post code:</strong>
    <%= client.post_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= client.country %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= client.website %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Fax:</strong>
    <%= client.fax %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= client.notes %>
  </p>

</div>
