<%= simple_form_for(@service, url: [@service.invoice, @service]) do |f| %>
  <div class="row"
    <div class="col">
      <%= f.input :name %>
    </div>
    <div class="col">
      <%= f.input :unit, collection: Service.units.symbolize_keys.keys, include_blank: false %>
    </div>
    <div class="col">
      <%= f.input :price %>
    </div>
    <div class="col">
      <%= f.input :amount %>
    </div>
    <div class="col">
      <%= f.input :vat %>
    </div>
    <%= f.submit 'Save' %>
  </div>
<% end %>
